.border{
    border-radius: 10px;
    border: 1px;
    margin: 3px;
}
.justify-center{
    justify-content: center;
}
.flex{
    display: flex;
}
.items-center{
    align-items: center;
}
.button{
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    font-weight: bold;
    font-size: 80%;
    background-color: #f6f6f6;
    border-radius: 20px;
    height: 32px;
    width: 120px;
}
.buttoon{
    
    border-color: white;
}
.fontstyle{font-family: CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif);
    font-size: var(--encore-text-size-base);}